* {
    box-sizing: border-box;
}

body {
	background-color: #79AC78;
}

.calculator {
	background-color: #618264;
	width: 400px;
	height: 500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 15px;
	
}

.screen {
	height: 100px;
	background-color: #D0E7D2;
	border-radius: 15px;
	margin: 5px;
}

.buttons-grid {
	border: 2px solid red;
	margin-top: 20px;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}