* {
    box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: #79AC78;
}

.calculator {
	background-color: #618264;
	max-width: 390px;
	min-width: 280px;
	height: 510px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 3px 3px rgb(0, 90, 6);
	
}

.screen {
	height: 100px;
	background-color: #D0E7D2;
	border-radius: 15px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	word-wrap: break-word;
	word-break: break-all;
}

#top-screen {
	font-size: 20px;
}

#main-screen {
	font-size: 40px;
}

.buttons-grid {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 10px;
}

.btn {
	padding: 20px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 3px 3px rgb(0, 75, 6);
	transition: transform 0.1s ease;
}

.btn-num {
	background-color: #D0E7D2;
}

.btn-point {
	background-color: #D0E7D2;
}

.btn-reset {
	grid-column: span 2;
	background-color: #f4cece;
}

.btn-del {
	background-color: #f4cece;
}

.btn-equal {
	grid-column: span 2;
	background-color: #D0E7D2;
}

.btn-operation {
	background-color: #C3D9B0;
}

.btn-num:hover, .btn-equal:hover, .btn-point:hover {
	background-color: #dee6df;
}

.btn-del:hover, .btn-reset:hover {
	background-color: #f0a8a8;
}

.btn-operation:hover {
	background-color: #a6d180;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #D0E7D2;
	color: black;
	text-align: center;
	padding: 5px;
}